body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #ffffff;
}

body * {
  font-family: 'PT Sans';
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

header {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1024px;
  margin-top: 39px;
}

header .inner-wrapper {
  margin: 0 10px;
}

header .inner-wrapper .fixed-row {
  height: 47px;
}

header .inner-wrapper .logo {
  display: block;
  background: url('../images/logo.png');
  width: 279px;
  height: 57px;
}

header .inner-wrapper .detail-info {
  font-size: 20px;
  margin-left: 40px;
}

header .inner-wrapper .detail-info .place,
header .inner-wrapper .detail-info .date {
  margin: 0;
}

header .inner-wrapper .detail-info .date {
  margin-bottom: 4px;
}

header .inner-wrapper .detail-info .place {
  font-weight: bold;
}

header .inner-wrapper .share-block {
  position: relative;
  top: -15px;
  float: right;
}

header .inner-wrapper .share-block [class*='social'] {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-left: 14px;
}

header .inner-wrapper .share-block [class*='social']:first-child {
  margin-left: 0;
}

header .inner-wrapper .share-block .social1 {
  background: url('../images/social1.png');
}

header .inner-wrapper .share-block .social2 {
  background: url('../images/social2.png');
}

header .inner-wrapper .share-block .social3 {
  background: url('../images/social3.png');
}

header .inner-wrapper .share-block .social4 {
  background: url('../images/social4.png');
}

header .inner-wrapper .share-block .social5 {
  background: url('../images/social5.png');
}

header .lang {
  color: #b4b4b4;
  float: right;
  font-size: 16px;
  margin-bottom: 29px;
}

header .lang a {
  color: #b4b4b4;
}

header .lang a.active {
  color: #343239;
}

nav {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1024px;
}

nav .nav-item {
  height: 58px;
  line-height: 58px;
}

nav .nav-item:last-child a {
  margin-right: 0;
}

nav .nav-item a {
  display: block;
  color: #ffffff;
  text-align: center;
  margin-right: 20px;
  font-size: 18px;
}

nav .nav-item a.item1 {
  background: #f39323;
}

nav .nav-item a.item2 {
  background: #02aef0;
}

nav .nav-item a.item3 {
  background: #90278e;
}

nav .nav-item a.item4 {
  background: #9cbb43;
}

article.promo {
  min-width: 1024px;
  margin: 0 auto;
}

article.promo .image {
  background: url('../images/promo.png') top center no-repeat;
  height: 594px;
}

article.promo .controls {
  position: relative;
  z-index: 100;
}

article.promo .controls .next,
article.promo .controls .prev {
  position: absolute;
  width: 28px;
  height: 59px;
  top: 257px;
  cursor: pointer;
}

article.promo .controls .prev {
  background: url('../images/prev.png');
  left: 80px;
}

article.promo .controls .next {
  background: url('../images/next.png');
  right: 80px;
}