body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #ffffff;
}

body * {
  font-family: 'PT Sans';
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

header {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1007px;
  margin-top: 39px;
}

header .inner-wrapper {
  margin: 0 10px;
}

header .inner-wrapper .fixed-row {
  height: 47px;
}

header .inner-wrapper .logo {
  display: block;
  background: url('../images/logo.png');
  width: 279px;
  height: 57px;
}

header .inner-wrapper .detail-info {
  font-size: 22px;
  margin-left: 40px;
}

header .inner-wrapper .detail-info .place,
header .inner-wrapper .detail-info .date {
  position: relative;
  margin: 0;
}

header .inner-wrapper .detail-info .date {
  top: -4px;
}

header .inner-wrapper .detail-info .place {
  font-weight: bold;
  top: -2px;
}

header .inner-wrapper .share-block {
  position: relative;
  top: -15px;
  float: right;
}

header .inner-wrapper .share-block [class*='social'] {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-left: 14px;
}

header .inner-wrapper .share-block [class*='social']:first-child {
  margin-left: 0;
}

header .inner-wrapper .share-block .social1 {
  background: url('../images/social1.png');
}

header .inner-wrapper .share-block .social2 {
  background: url('../images/social2.png');
}

header .inner-wrapper .share-block .social3 {
  background: url('../images/social3.png');
}

header .inner-wrapper .share-block .social4 {
  background: url('../images/social4.png');
}

header .inner-wrapper .share-block .social5 {
  background: url('../images/social5.png');
}

header .lang {
  color: #b4b4b4;
  float: right;
  font-size: 16px;
}

header .lang a {
  color: #b4b4b4;
}

header .lang a.active {
  color: #343239;
}

nav {
  margin: 0 auto;
  margin-top: 29px;
  max-width: 1200px;
  min-width: 1007px;
}

nav .nav-item {
  height: 58px;
  line-height: 58px;
}

nav .nav-item:last-child a {
  margin-right: 0;
}

nav .nav-item a {
  display: block;
  color: #ffffff;
  text-align: center;
  margin-right: 20px;
  font-size: 18px;
}

nav .nav-item a.item1 {
  background: #f39323;
}

nav .nav-item a.item2 {
  background: #02aef0;
}

nav .nav-item a.item3 {
  background: #90278e;
}

nav .nav-item a.item4 {
  background: #9cbb43;
}

.promo {
  min-width: 1007px;
  margin: 0 auto;
}

.promo .image {
  background: url('../images/promo.png') top center no-repeat;
  height: 594px;
}

.promo .controls {
  position: relative;
  z-index: 100;
}

.promo .controls .next,
.promo .controls .prev {
  position: absolute;
  width: 28px;
  height: 59px;
  top: 257px;
  cursor: pointer;
}

.promo .controls .prev {
  background: url('../images/prev.png');
  left: 80px;
}

.promo .controls .next {
  background: url('../images/next.png');
  right: 80px;
}

.offers {
  margin: 0 auto;
  margin-top: 52px;
  max-width: 1200px;
  min-width: 1007px;
}

.offers .offer-row {
  margin-bottom: 60px;
}

.offers .offer-row:last-child {
  margin-bottom: 0;
}

.offers .pure-u-1-2:first-child .offer-item {
  margin-right: 30px;
}

.offers .pure-u-1-2:last-child .offer-item {
  margin-left: 30px;
}

.offers .offer-item .heading {
  padding-left: 28px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
}

.offers .offer-item .description {
  margin-top: 35px;
}

.offers .offer-item .link {
  margin-top: 20px;
}

.offers .offer-item .link a {
  text-decoration: underline;
  font-weight: bold;
}

.offers .offer-item.item1 .heading {
  background: #f39323 url('../images/heading1.png') center right no-repeat;
}

.offers .offer-item.item2 .heading {
  background: #02aef0 url('../images/heading2.png') center right no-repeat;
}

.offers .offer-item.item3 .heading {
  background: #90278e url('../images/heading3.png') center right no-repeat;
}

.offers .offer-item.item4 .heading {
  background: #9cbb43 url('../images/heading4.png') center right no-repeat;
}

footer {
  background: #1d2124;
  color: #5a5c5e;
  padding: 27px 0;
  margin-top: 87px;
  min-width: 1007px;
}

footer .inner-wrapper {
  min-width: 1007px;
  max-width: 1200px;
  margin: 0 auto;
}

footer .inner-wrapper a {
  color: #ffffff;
}
