@maxWidth: 1200px;
@minWidth: 1007px;

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #ffffff;
}

body * {
  font-family: 'PT Sans';
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

@color1: #f39323;
@color2: #02aef0;
@color3: #90278e;
@color4: #9cbb43;

header {
  margin: 0 auto;
  max-width: @maxWidth;
  min-width: @minWidth;
  margin-top: 39px;

  .inner-wrapper {
    margin: 0 10px;

    .fixed-row {
      height: 47px;
    }

    .logo {
      display: block;
      background: url('../images/logo.png');
      width: 279px;
      height: 57px;
    }

    .detail-info {
      font-size: 20px;
      margin-left: 40px;
      .place,
      .date {
        margin: 0;
      }

      .date {
        margin-bottom: 4px;
      }
      .place {
        font-weight: bold;
      }
    }

    .share-block {
      position: relative;
      top: -15px;
      float: right;

      [class *= 'social'] {
        display: inline-block;
        width: 33px;
        height: 33px;
        margin-left: 14px;

        &:first-child {
          margin-left: 0;
        }
      }

      .social1 {
        background: url('../images/social1.png');
      }
      .social2 {
        background: url('../images/social2.png');
      }
      .social3 {
        background: url('../images/social3.png');
      }
      .social4 {
        background: url('../images/social4.png');
      }
      .social5 {
        background: url('../images/social5.png');
      }
    }
  }

  .lang {
    color: #b4b4b4;
    float: right;
    font-size: 16px;

    a {
      color: #b4b4b4;

      &.active {
        color: #343239;
      }
    }
  }
}

nav {
  margin: 0 auto;
  margin-top: 29px;
  max-width: @maxWidth;
  min-width: @minWidth;
  @navRowHeight: 58px;

  .nav-item {
    height: @navRowHeight;
    line-height: @navRowHeight;

    &:last-child {
      a {
        margin-right: 0;
      }
    }

    a {
      display: block;
      color: #ffffff;
      text-align: center;
      margin-right: 20px;
      font-size: 18px;

      &.item1 {
        background: @color1;
      }

      &.item2 {
        background: @color2;
      }

      &.item3 {
        background: @color3;
      }

      &.item4 {
        background: @color4;
      }
    }
  }
}

.promo {
  min-width: @minWidth;
  margin: 0 auto;

  .image {
    height: 594px;
    background: url('../images/promo.png') top center no-repeat;
    height: 594px;
  }

  .controls {
    position: relative;
    z-index: 100;

    .next,
    .prev {
      position: absolute;
      width: 28px;
      height: 59px;
      top: 257px;
      cursor: pointer;
    }

    .prev {
      background: url('../images/prev.png');
      left: 80px;
    }

    .next {
      background: url('../images/next.png');
      right: 80px;
    }
  }
}

.offers {
  margin: 0 auto;
  margin-top: 52px;
  max-width: @maxWidth;
  min-width: @minWidth;

  .offer-row {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .pure-u-1-2:first-child .offer-item {
    margin-right: 30px;
  }

  .pure-u-1-2:last-child .offer-item {
    margin-left: 30px;
  }

  .offer-item {
    @itemHeadingHeight: 60px;

    .heading {
      padding-left: 28px;
      height: @itemHeadingHeight;
      line-height: @itemHeadingHeight;
    }

    .description {
      margin-top: 35px;
    }
    .link {
      margin-top: 20px;

      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }

    &.item1 .heading {
      background: @color1 url('../images/heading1.png') center right no-repeat;
    }

    &.item2 .heading {
      background: @color2 url('../images/heading2.png') center right no-repeat;
    }

    &.item3 .heading {
      background: @color3 url('../images/heading3.png') center right no-repeat;
    }

    &.item4 .heading {
      background: @color4 url('../images/heading4.png') center right no-repeat;
    }
  }
}

footer {
  background: #1d2124;
  color: #5a5c5e;
  padding: 27px 0;
  margin-top: 87px;

  .inner-wrapper {
    min-width: @minWidth;
    max-width: @maxWidth;
    margin: 0 auto;

    a {
      color: #ffffff;
    }
  }
}
